<p id="notice"><%= notice %></p>

<h1>Mirepos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Edad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mirepos.each do |mirepo| %>
      <tr>
        <td><%= mirepo.user %></td>
        <td><%= mirepo.edad %></td>
        <td><%= link_to 'Show', mirepo %></td>
        <td><%= link_to 'Edit', edit_mirepo_path(mirepo) %></td>
        <td><%= link_to 'Destroy', mirepo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mirepo', new_mirepo_path %>
